@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt" 0;
}


/* common styles */
.common-padding {
    padding: 0 1.25rem;
}

.display-flex {
    display: flex;
}

.color-primary {
    color: #E6533C;
}

.btn-primary {
    background-color: #E6533C;
    color: white;
    padding: 1rem 2.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 2.6rem;
    border: none;
}

body {
    margin: 0 auto;
    background-color: #000;
    color: #fff;
}

.max-width {
    max-width: 1060px;
    margin: 0 auto;
}

main>section {
    margin-top: 100px;
}

.section-title {
    margin-top: 6rem;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.section-description {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
}


/* header */
header {
    background: linear-gradient(to top, #000, #262729);
}

/* navbar styles */
.nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0;
    border-radius: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-right: 0.5rem;
}


.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.25rem;
}

#btn-home {
    background-color: #E6533C;
    border-radius: 2.8rem;
}

.menu-icon {
    display: none;
}


/* banner styles */
.banner {
    justify-content: center;
    align-items: center;

}

.banner-content {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 50px;
    max-width: 520px;
    width: 100%;
}

.banner-btn-container {
    gap: 0.7rem;
    flex-wrap: wrap;
}

.banner-title {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 0;
}

.miama-font {
    font-family: 'Miama', sans-serif;
    font-size: 6rem;
    font-weight: 400;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    margin: 1.8rem 0;
}

#btn-download {
    background-color: #000;
    border: 1px solid #fff;
    margin-left: 0.6rem;
}

.banner-image {
    max-width: 600px;
    max-height: 520px;
    padding-right: 5rem;
    padding-left: 10rem;
}

.img-btn-container {
    position: relative;
}

.btn-workout {
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1.2rem;
    text-align: left;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.75rem;
    position: absolute;
    top: 5.5rem;
    left: 22.5rem;
}

.workout-number {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
}

.btn-tutorial {
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1.5rem;
    text-align: left;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.75rem;
    position: absolute;
    bottom: 4.5rem;
    left: 3.5rem;
}

.tutorial-number {
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
}

.play-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
    background: #E6533C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 0.5rem;
    font-size: 1rem;
}


/* change habit section styles */
.change-habit {
    text-align: center;
    margin-top: 6.2rem;
    margin-bottom: 6.2rem;
}

.habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3.5rem;
}

.habit-card-img {
    border-radius: 6rem;
}

.habit-card-title {
    font-size: 1.15rem;
    font-weight: 600;
    margin: 1.8rem 0 0.4rem;
}

.habit-card-description {
    margin-top: 0;
}


/* run extra section styles */
.section-run-extra {
    padding: 1rem;
}

.run-extra {
    gap: 10rem;
    padding: 1.8rem;
    background-color: #222222;
    border-radius: 1.15rem;
}

.run-extra-content {
    text-align: left;
}

.run-extra-content p {
    margin-bottom: 1.9rem;
}


.run-extra img {
    max-width: 560px;
    width: 100%;
    border-radius: 1.15rem;
    height: auto;
}

/* bmi calculator section styles */
.bmi {
    text-align: left;
}

.bmi-section-heading {
    margin-bottom: 5.5rem;
}


.bmi-content h3 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 0;
}

.bmi-content p {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0.85rem 0 2.1rem;
}

.bmi-section-heading {
    padding: 0 11rem;
}

.bmi-content {
    background-color: #222222;
    padding: 3.25rem;
}

.bmi-container {
    justify-content: space-between;
    gap: 11rem;
}


table,
tr,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

table {
    width: 20rem;
    margin-top: 3rem;
}


td {
    padding: 0.7rem 1.1rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}

.table-heading {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

form {
    max-width: 100%;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input,
select {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    padding: 0.78rem 1.25rem;
    display: inline-block;
    border: 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

select {
    border-right: 0.75rem solid transparent;
}

.select-activity {
    margin: 0.75rem 0 2.1rem;
}

/* team section styles */
.team {
    text-align: center;
    margin-top: 5.5rem;
}

.team-card-container {
    border-radius: 1.1rem;
    margin-bottom: 3.6rem;
    margin-top: 3.6rem;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    background-color: #222222;
}

.team-card {
    text-align: left;
    max-width: 32rem;
    padding: 13rem 1rem 1rem;
    border-radius: 1.1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.team-name {
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
}

.team-title {
    font-size: 0.8rem;
    margin: 0;
    margin-top: 0.25rem;
}

.team-card-1 {
    background-image: url('../images/trainer1.png');
}

.team-card-2 {
    background-image: url('../images/trainer2.png');
}

.team-card-3 {
    background-image: url('../images/trainer3.png');
}

.team-card-4 {
    background-image: url('../images/trainer4.png');
}

.team-card-5 {
    background-image: url('../images/trainer5.png');
}

.team-card-6 {
    background-image: url('../images/trainer6.png');
}


/* contact us section styles */
.contact-us {
    background-image: url('../images/gym-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
}

.contact-us-section-heading h3 {
    padding-top: 4.5rem;
}

.contact-us-section-heading p {
    padding-bottom: 3.5rem;
    color: rgba(8, 0, 0, 0.6);
    font-weight: 700;
}

.contact {
    max-width: 60%;
    padding-bottom: 1rem;
    background: rgba(2, 27, 73, 0.4);
    margin: 0 auto;
    border-radius: 1rem;
}

.contact-form{
    text-align: left;
    padding: 3rem;
    
}

/* footer styles */
footer {
    background-color: #222222;
    margin-top: 5.5rem;
    padding: 4rem 0 2.2rem;
}

.footer-container {
    gap: 7rem;
}

.footer-title {
    font-size: 6.4rem;
    font-weight: 800;
    margin: 0 0 1.25rem;
}

.footer-description {}

.footer-logo-content {
    max-width: 27rem;
}

.footer-contents {
    gap: 9rem;
}

.footer-content h3 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.footer-links {
    margin: 0;
    padding: 0;
}

.footer-item {
    list-style: none;
    margin-bottom: 1.25rem;
}

.footer-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
}

.footer-end {
    text-align: center;
}

.footer-hr {
    margin-top: 5rem;
    color: rgba(255, 255, 255, 0.5);
}

.copy-right {
    margin: 2.25rem 0;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
}




/* responsive styles media query */
/* for small device */
@media screen and (max-width: 576px) {

    /* shared styles */

    .btn-primary {
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
    }

    .section-title {
        font-size: 2rem;
    }

    /* nav styles */
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* banner styles */
    .banner {
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
    }

    .banner-image {
        margin: 0;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .btn-workout {
        left: 10.5rem;
        padding: 0.85rem 1rem;
    }

    .workout-number {
        font-size: 1.5rem;
    }

    .btn-tutorial {
        left: -1.5rem;
    }



    /* run-extra section styles */
    .run-extra {
        flex-direction: column;
        gap: 3rem;
        padding: 0.7rem;
    }

    .run-extra h3,
    p {
        padding: 0;
    }

    /* bmi-section styles */
    .bmi-section-heading {
        padding: 0 1rem;
    }

    .bmi-container {
        flex-direction: column;
        gap: 3rem;
    }

    table {
        width: 90%;
        margin-top: 3rem;
    }

    td {
        padding: 0.5rem 0.25rem;
    }

    input,
    select {
        padding: 0.5rem 0.25rem;
    }

    .select-activity {
        margin: 0.7rem 0 0.7rem;
    }

    /* contact section styles */
    .contact-us-section-heading p {
        padding-bottom: 1.5rem;
    }
    .contact-form{
        padding: 0.5rem;        
    }

    /* team-section-styles */
    .habit-card-container,
    .team-card-container {
        grid-template-columns: 1fr;
    }

    /* footer styles */
    footer {
        padding: 2.5rem 1.25rem;
    }

    .footer-container,
    .footer-contents {
        gap: 1.25rem;
    }

    .footer-container,
    .footer-contents {
        flex-direction: column;
    }

    .footer-title {
        font-size: 4rem;
    }


}

/* for medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* shared styles */

    .btn-primary {
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
    }

    .section-title {
        font-size: 2rem;
    }

    /* banner styles */
    .banner {
        flex-direction: column;
        gap: 2rem;
        padding: 0.5rem;
    }

    .btn-workout {
        left: 20.5rem;
    }

    /* team section styles */
    .teams,
    .features {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    /* change habit section styles */
    .habit-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }


    /* run-extra section styles */
    .run-extra {
        gap: 4rem;
        padding: 0.8rem;
    }

    .run-extra img {
        max-width: 260px;
        width: 100%;
    }

    /* bmi-section styles */
    .bmi-section-heading {
        padding: 0 1rem;
    }

    .bmi-container {
        flex-direction: column;
        gap: 3rem;
    }

    table {
        width: 80%;
        margin-top: 2rem;
    }

    /* team section styles */


    /* footer styles */
    footer {
        padding: 2.5rem 1.85rem;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-contents {
        gap: 10rem;
    }
}