@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt" 0;
}


/* common styles */
.display-flex {
    display: flex;
}

.color-primary {
    color: #E6533C;
}

.btn-primary {
    background-color: #E6533C;
    color: white;
    padding: 1rem 2.8rem;
    font-weight: 600;
    border-radius: 2.6rem;
    border: none;
}

body {
    margin: 0 auto;
    background-color: #000;
    color: #fff;
}

.max-width {
    max-width: 1060px;
    margin: 0 auto;
}

main>section {
    margin-top: 100px;
}

.section-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.section-description {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
}


/* header */

/* navbar styles */
.nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0;
    border-radius: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-right: 0.5rem;
}


.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.25rem;
}

#btn-home {
    background-color: #E6533C;
    border-radius: 2.8rem;
}

.menu-icon {
    display: none;
}


/* banner styles */
.banner-content {
    max-width: 520px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 0;
}

.miama-font{
    font-family: 'Miama', sans-serif;
    font-size: 8rem; 
    font-weight: 300;                                        
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    margin: 1.8rem 0 1.5rem;
}

#btn-download {
    background-color: #000;
    border: 1px solid #fff;
    margin-left: 0.6rem;
}

.banner-image {
    max-height: 580px;
    margin-left: 10rem;
}


/* change habit section styles */
.change-habit {
    text-align: center;
}

.habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3.5rem;
}

.habit-card-img {
    border-radius: 6rem;
}

.habit-card-title {
    font-size: 1.15rem;
    font-weight: 600;
    margin: 1.8rem 0 0.4rem;
}

.habit-card-description {
    margin-top: 0;
}


/* run extra section styles */
.run-extra {
    gap: 10rem;
    padding: 1.8rem;
    background-color: #222222;
    border-radius: 1.15rem;
}

.run-extra-content {
    text-align: left;
}

.run-extra-content p {
    margin-bottom: 2.1rem;
}

.run-extra img {
    border-radius: 1.8rem;
    width: 100%;
    height: auto;
}

/* bmi calculator section styles */
.bmi{
    text-align: left;
}
.bmi-section-heading{
    padding: 0 11rem;
}
.bmi-content{
    background-color: #222222;
    padding: 3.25rem;
}
.bmi-container{

}
table, tr, td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}


/* team section styles */
.team {
    text-align: center;
}

.team-card-container {
    border-radius: 1.1rem;
    margin-bottom: 3.6rem;
    margin-top: 3.6rem;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    background-color: #222222;
}

.team-card {
    text-align: left;
    max-width: 21rem;
    padding: 13rem 1rem 1rem;
    border-radius: 1.1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.team-name {
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
}

.team-title {
    font-size: 0.8rem;
    margin: 0;
    margin-top: 0.25rem;
}

.team-card-1 {
    background-image: url('../images/trainer1.png');
}

.team-card-2 {
    background-image: url('../images/trainer2.png');
}

.team-card-3 {
    background-image: url('../images/trainer3.png');
}

.team-card-4 {
    background-image: url('../images/trainer4.png');
}

.team-card-5 {
    background-image: url('../images/trainer5.png');
}

.team-card-6 {
    background-image: url('../images/trainer6.png');
}



/* footer styles */
footer {
    background-color: #222222;
    margin-top: 5.5rem;
    padding: 4rem 0 2.2rem;
}

.footer-container {
    gap: 7rem;
}

.footer-title {
    font-size: 6.4rem;
    font-weight: 800;
    margin: 0 0 1.25rem;
}

.footer-description {}

.footer-logo-content {
    max-width: 27rem;
}

.footer-contents {
    gap: 9rem;
}

.footer-content h3 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.footer-links {
    margin: 0;
    padding: 0;
}

.footer-item {
    list-style: none;
    margin-bottom: 1.25rem;
}

.footer-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
}

.footer-end {
    text-align: center;
}

.footer-hr {
    margin-top: 5rem;
    color: rgba(255, 255, 255, 0.5);
}

.copy-right {
    margin: 2.25rem 0;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
}




/* responsive styles media query */
/* for small device */
@media screen and (max-width: 576px) {

    /* shared styles */
    header,
    main {
        padding: 0 1.25rem;
    }

    .btn-primary {

        padding: 1rem 1.5rem;
        font-weight: 500;
    }

    /* nav styles */
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* banner styles */
    .banner,
    .run-extra {
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 0.5rem;
    }

    .banner-image {
        margin: 0;
        width: 100%;
    }

    .run-extra h3,
    p {
        padding: 0;
    }

    /* team-section-styles */
    .habit-card-container,
    .team-card-container {
        grid-template-columns: 1fr;
    }

    /* footer styles */
    footer {
        padding: 2.5rem 1.25rem;
    }

    .footer-container,
    .footer-contents {
        gap: 1.25rem;
    }

    .footer-container,
    .footer-contents {
        flex-direction: column;
    }

    .footer-title {
        font-size: 4rem;
    }


}

/* for medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* shared styles */
    header,
    main {
        padding: 0 1.85rem;
    }
    .teams,
    .features {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .habit-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }

    /* footer styles */
    footer {
        padding: 2.5rem 1.85rem;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-contents {
        gap: 10rem;
    }
}