@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt" 0;
}


/* common styles */
.display-flex {
    display: flex;
}

.color-primary {
    color: #E6533C;
}


.text-gray {
    color: #424242;
}

.text-light-dark {
    color: #B9B9B9;
}

.bg-dark {
    background-color: #343434;
}

.btn-primary {
    background-color: #E6533C;
    color: white;
    padding: 1rem 2.8rem;
    font-weight: 600;
    border-radius: 2.6rem;
    border: none;
}

body {
    max-width: 1060px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
}

main>section {
    margin-top: 100px;
}

.section-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.section-description {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
}


/* header */

/* navbar styles */
.nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0;
    border-radius: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-right: 0.5rem;
}


.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.25rem;
}

#btn-home {
    background-color: #E6533C;
    border-radius: 2.8rem;
}

.menu-icon {
    display: none;
}


/* banner styles */
.banner-content {
    max-width: 520px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 0;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    margin: 1.8rem 0 1.5rem;
}

#btn-download {
    background-color: #000;
    border: 1px solid #fff;
    margin-left: 0.6rem;
}

.banner-image {
    max-height: 580px;
    margin-left: 10rem;
}


/* change habit section */
.change-habit {
    text-align: center;
}

.habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3.5rem;
}

.habit-card-img {
    border-radius: 6rem;
}

.habit-card-title {
    font-size: 1.15rem;
    font-weight: 600;
    margin: 1.8rem 0 0.4rem;
}

.habit-card-description {
    margin-top: 0;
}








/* responsive styles media query */
/* for small device */
@media screen and (max-width: 576px) {

    *{
        padding: 0 1.25rem;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .banner {
        flex-direction: column;
    }

    .habit-card-container {
        grid-template-columns: 1fr;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 50px;
    }

    .our-features {
        margin-left: 20px;
    }

    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* for medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .teams,
    .features {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .habit-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }
}